*{
    margin: 0;
    padding: 0;
    color: white;
      font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{

    background-color: #0E1421;
}
.s1{
    display: flex;
    align-content: center;
    height: 90vh;
}
.one{
    /* border:2px black solid; */
    margin: auto;
    /* width: (30%,70%); */
    width: 30%,;
    min-height:70vh ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.one>.three>input{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 55%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    height: auto;
    background-color: hsl(240, 100%, 17%);
}
.three>img{
    width: 5%;
    height: auto;
    cursor: pointer;
}
.three{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: center;

}

.two{
    /* border: 2px black solid; */
    min-height:70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.two>p{
    font-size: 6vh;
    text-align: center;
}
.two>img{
    width: 40%;
    height: auto;
    margin: auto;
    
}